@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 1440px; /*at any cost the size of my page is not going more than 1440px either in 14inch lap or in 16inch lap or in 42inch monitor*/
  background-color: #f0f4f5;
  margin: auto; /*Search*/
  overflow: hidden;
}

nav {
  height: 20vh; /*15vh*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
}

nav ul {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* gap:50px or we can give margin-right to list item */
}

nav ul li {
  list-style-type: none;
  margin-right: 50px;
  font-weight: 600;
}

nav ul li:first-child {
  color: green;
}

/*Hero Section*/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

main section {
  width: 50%;
}

/* Left Section */

.leftsection {
  margin-left: 5%;
  position: relative;
}

.topangle {
  width: 25px;
}

.leftsection h1 {
  font-size: 70px;
}

.leftsection p {
  color: #808080;
  font-size: 18px;
  margin: 20px 0px;
}

.bottomangle {
  width: 25px;
  position: absolute;
  right: 25px;
}

.stethoscope {
  position: absolute;
  width: 90%;
  top: -60px; /*search or minus value*/
  right: -25px;
  z-index: -1;
}

.mouse {
  position: absolute;
  right: -30px;
  bottom: 0px;
  width: 30px;
}

.leftsection button {
  color: #ffffff;
  background-color: green;
  padding: 15px 40px;
  border: none;
  border-radius: 40px;
  font-size: 20px;
}

/* Right Section */
/* .rightsection {
  background-color: aqua;
} */

.greenBox,
.yellowBox {
  position: absolute;
  right: 0;
}

.greenBox {
  width: 35%;
  bottom:30px;
}
.yellowBox {
  width: 30%;
  bottom:50px
}

.doctor {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 90%;
}
